.centrarl-card-item-wrapper{
    border: 1px solid #CCCED1; 
    width: 1180px;
    height: 450px;
    display: flex;
    background-color: white;
    padding: 10px;
}
.card-item-image-spaceArt{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    border: 1px solid #CCCED1; ;
}
.mini-info-gray-into-central-item{
    color: #6e7071;
    font-size: 10px;
}
.no-style-p{
    margin: 0;
    padding: 0;
}
.info-into-central-card-item{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    height: 12  0px;
}
.description-into-info-central-card-item{
    font-size: 12px;
    
}
.buttons-section-into-central-card-item{
    width: 100%;
    height: 80px;
}
.char-in-details-product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    gap: 20px;
}