@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

$backgroudColorPrimary: #A8A9AD;
$bluePrim: #5C89BA;
$blackPrim: black;
$grayPrim: #565D6C;
$graySec: #838996;
$grayTh: #A8A9AD;
$grayFo: #ffffff;
$font-nColor:rgb(0, 247, 255);
$font-nText:'Inconsolata', monospace;

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Space Mono', monospace;
    
}


.container{
    width: 100%;
    height: 100vh;
    background-color: $backgroudColorPrimary;
    display: flex;
}
/*Start Left Panel*/
.leftPanel{
    width: 500px;
    height: 100%;
    background-color: $grayFo;
    display: grid;
    grid-template-rows: 400px 500px;
    place-items: center;
    
}

.options-container{
    display:grid;
    gap: 30px;
    place-items: center;
}

.option{
    font-size: 35px;
    text-decoration: none;
    color: rgb(49, 181, 233);
    &:hover{
        font-size: 40px;
        transition: 200ms ease-in-out;
    }
}
#pp{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}
/* End Left Panel*/

.panel-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    place-items: center;
}


#generalPanel{
    width: 1600px;
    height: 1100px;
    background-color: $grayFo;
    border-radius: 3%;
    overflow: hidden;
    display: grid;
}

.items-container{
    display: grid;
    grid-template-rows: 100px 100%;
}

.head{
   display: flex;
   gap: 5%;
   padding-left: 5%;
   place-items: center;
}
.circle{
    width: 40px;
    height: 40px;
    padding: 13px;
}


h1{
    margin: 0;
    padding: 10px;
}

.chats-container{
    background-color: red;
    border-radius: 3%;
    place-self: center;
    width: 75%;
    height: 60%;
    overflow: scroll;
    overflow-x: hidden;
}