@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

$backgroudColorPrimary: #A8A9AD;
$bluePrim: #5C89BA;
$blackPrim: black;
$grayPrim: #565D6C;
$graySec: #838996;
$grayTh: #A8A9AD;
$grayFo: #ffffff;
$font-nColor:rgb(0, 247, 255);
$font-nText:'Inconsolata', monospace;

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Space Mono', monospace;
    
}


.container{
    width: 100%;
    height: 100vh;
    background-color: $backgroudColorPrimary;
    display: flex;
}
/*Start Left Panel*/
.leftPanel{
    width: 300px;
    height: 100%;
    background-color: $grayFo;
    display: grid;
    grid-template-rows: 400px 450px;
    place-items: center;
    
}

.options-container{
    display:grid;
    gap: 30px;
    place-items: center;
}

.option{
    font-size: 25px;
    text-decoration: none;
    color: rgb(49, 181, 233);
    &:hover{
        font-size: 40px;
        transition: 200ms ease-in-out;
    }
}
#pp{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
/* End Left Panel*/

.panel-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    place-items: center;
}


#generalPanel{
    width: 80%;
    height: 80%;
    background-color: $grayFo;
    border-radius: 3%;
    overflow: hidden;
    display: grid;
}

.items-container{
    display: grid;
    grid-template-rows: 100px 100px 73%;
}

.head{
   display: flex;
   gap: 5%;
   padding-left: 5%;
   place-items: center;
}
.circle{
    width: 40px;
    height: 40px;
    padding: 13px;
}


h1{
    margin: 0;
    padding: 10px;
}

.chats-container{
    background-color: $grayTh;
    border-radius: 10px;
    place-self: center;
    width: 80vh;
    height: 50vh;
    overflow: scroll;
    overflow-x: hidden;
}

/*Search Bar*/
.search-container{
    display: grid;
    place-items: center;
}
#search-bar{
    align-self: center;
    justify-self: center;
    width: 70%;
    height: 30%;
    border: black solid 2px;
    border-radius: 30px;
    padding-left: 10px;
    grid-row-start: 1;
    overflow: scroll;
    
    &::placeholder{
        color:#A8A9AD;
        opacity: 1;
    }
}

/*End search bar*/

/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/*End scroll bar*/
