@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

.signupWrap {
    background-color: white;
    border-radius: 25px;
    width: 300px;
    padding: 20px;
    margin: 4% auto 4%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1{
    margin-bottom: 30px;
}

label {
    padding: 5px;
}

input {
    background-color: #E5E5E5;
    border-radius: 20px;
    margin: 10px, 0;
    width: 100%;
    outline: none;
    border: none;
    color: black;
    height: 30px;
    font-size: 15px;
    
}

.emailLabel {
    top: 50%;
    margin-top: 50px;
}

.signup_button, .login_button {
    background-color: #409B49;
    height: 40px;
    cursor: pointer;
}

.or {
    width: 30px;
    margin: -19px auto 10px;
    background: white;
}

hr {
    margin-top: 20px;
    width: 80%;
}

img {
    width: 180px;
}

