.details-page-details-content{
    margin-top: 10px;
    width: 100%;
    height: 800px;
    background-color: rgb(201, 201, 203);
}
.details-section-on-page-details-content{
    width: 100%;
    height: 400px;
    padding-left: 300px;
}