.ChatContent {
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.content-body {
    overflow: hidden auto;
    height: 100%;
    padding-right: 1vw;
}

.chat-bubble {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 0.97vw;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: right;
    animation-name: showIn;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.88, 0.19, 0.37, 1.11);
    animation-fill-mode: both;
    animation-delay: 0.2s;
}

@keyframes showIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.chat-bubble .avatar {
    margin-right: 0vw;
    margin-left: 1.30vw;
    background: #3b3b3b;
    padding: 0.06vw;
}

.chat-bubble-content {
    background-color: #3A86FF;
    color: #fff;
    padding: 0.65vw;
    border-radius: 0.65vw 0.65vw 0 0.65vw;
    max-width: 50%;
    min-width: 13.99vw;
}

.chat-bubble-content .chat-desc {
    justify-content: space-between;
    display: flex;
    margin-top: 0.65vw;
}

.chat-bubble-content .chat-desc i {
    font-size: 0.71vw;
    color: #181818;
    user-select: none;
}

.chat-text {
    user-select: none;
}

.chat-bubble.other {
    flex-direction: row-reverse;
    transform-origin: left;
}

.chat-bubble.other .chat-bubble-content {
    background-color: #fff;
    color: #000;
    border-radius: 0.65vw 0.65vw 0.65vw 0;
    max-width: 50%;
}

.chat-bubble.other .avatar {
    margin-right: 1.30vw;
    margin-left: 0vw;
}

.chat-bubble.other .chat-bubble-content .chat-meta span {
    color: #3b3b3b;
}

.content-footer {
    width: 100%;
    bottom: 8.46vw;
}

.sendNewMessage {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0.65vw;
    border-radius: 0.52vw;
    font-size: 1.2vw;
}

.sendNewMessage button {
    width: 2.34vw;
    height: 2.34vw;
    background-color: #ccd4ff;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    font-size: 1.04vw;
    color: #3A86FF;
    padding: 0;
    border-radius: 0.32vw;
    line-height: 2.34vw;
    transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}

.btnSendTextA:hover {
    transform: scale(1.2);
}

.btnSendTextN:hover {
    cursor: default;
}

.sendNewMessage button i {
    display: block;
}

.sendNewMessage input {
    flex-grow: 1;
    padding: 0 0.97vw;
    background-color: transparent;
    border: none;
    outline: none;
}

#sendTextBtn {
    width: 4.55vw;
    background-color: #3A86FF;
    color: #fff;
}

.notifiersDiv{
    display: flex;
    justify-content: space-between;
}

.endChatBtn{
    background-color: #3A86FF;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.endChatBtn p{
    margin: 0;
    color: white;
}